/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
package org.apache.camel.spring.boot;

import org.apache.camel.LoggingLevel;
import org.apache.camel.ManagementMBeansLevel;
import org.apache.camel.ManagementStatisticsLevel;
import org.apache.camel.StartupSummaryLevel;
import org.apache.camel.main.DefaultConfigurationProperties;
import org.springframework.boot.context.properties.ConfigurationProperties;
import org.springframework.boot.context.properties.DeprecatedConfigurationProperty;
import org.springframework.boot.context.properties.NestedConfigurationProperty;

import java.util.Map;

@ConfigurationProperties(prefix = "camel")
public class CamelConfigurationProperties  {

    @NestedConfigurationProperty
    private final Main main = new Main();

    public Main getMain() {
        return main;
    }

    public class Main extends InnerCamelConfigurationProperties {

        /**
         * Whether to use the main run controller to ensure the Spring-Boot application
         * keeps running until being stopped or the JVM terminated.
         * You typically only need this if you run Spring-Boot standalone.
         * If you run Spring-Boot with spring-boot-starter-web then the web container keeps the JVM running.
         */
        private boolean runController;

        /**
         * Whether to use the main run controller to ensure the Spring-Boot application
         * keeps running until being stopped or the JVM terminated.
         * You typically only need this if you run Spring-Boot standalone.
         * If you run Spring-Boot with spring-boot-starter-web then the web container keeps the JVM running.
         */
        @Deprecated
        private boolean mainRunController;

        /**
         * Whether to include non-singleton beans (prototypes) when scanning for RouteBuilder instances.
         * By default only singleton beans is included in the context scan.
         */
        private boolean includeNonSingletons;

        /**
         * Whether to log a WARN if Camel on Spring Boot was immediately shutdown after starting which
         * very likely is because there is no JVM thread to keep the application running.
         */
        private boolean warnOnEarlyShutdown = true;

        public boolean isRunController() {
            return runController;
        }

        public void setRunController(boolean runController) {
            this.runController = runController;
        }

        @DeprecatedConfigurationProperty(replacement = "camel.main.run-controller", since = "4.14.0")
        @Deprecated
        public boolean isMainRunController() {
            return mainRunController;
        }

        @Deprecated
        public void setMainRunController(boolean mainRunController) {
            this.mainRunController = mainRunController;
        }

        public boolean isIncludeNonSingletons() {
            return includeNonSingletons;
        }

        public void setIncludeNonSingletons(boolean includeNonSingletons) {
            this.includeNonSingletons = includeNonSingletons;
        }

        public boolean isWarnOnEarlyShutdown() {
            return warnOnEarlyShutdown;
        }

        public void setWarnOnEarlyShutdown(boolean warnOnEarlyShutdown) {
            this.warnOnEarlyShutdown = warnOnEarlyShutdown;
        }

    }

    @SuppressWarnings("all")
    static class InnerCamelConfigurationProperties extends DefaultConfigurationProperties {

#foreach( $opt in $options )
        ${opt.description}
     #if ($opt.defaultValue )
        private ${opt.javaType} ${opt.fieldName} = ${opt.defaultValue};
     #else
        private ${opt.javaType} ${opt.fieldName};
    #end
#end
    }
}
